body{
    font-family: 'Ropa Sans', sans-serif;
}
/* CARRITO*/
.icon-carrito {
    text-align: center;
    font-size: 1.5rem;
    --fa-primary-opacity: 0.5;
    --fa-secondary-opacity: 0.2;
}

/* Footer*/


footer {
    background-color: #03071e;
    color: white;
    padding: 30px 0;
}

.social-icons {
    text-align: center;
}


.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}


.footer-links a {
    color: white;
    text-decoration: none;
}


.footer-links a:hover {
    text-decoration: underline;
}

.col-sm-3 {
    text-align: center;
}

.img-icon {
    width: 45px;
    height: 45px;
}

.img-logo {
    width: 150px;
    height: 150px;
}
